@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

:root {
  --primary: linear-gradient(90deg, #6a2c90 0%, #a117f5 83.33%);
  --on-primary: #ffffff;
  --secondary: #fdffe3;
  --on-secondary: #000000;
  --sidebar-width: 300px;
}

.primary {
  background: var(--primary);
}

.on-primary {
  color: var(--on-primary);
}

.secondary {
  background-color: var(--secondary);
}

.on-secondary {
  color: var(--on-secondary);
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

.text-display {
  font-size: 2rem;
  font-weight: 700;
}

.text-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.text-body {
  font-size: 1rem;
  font-weight: 400;
}

.text-caption {
  font-size: 0.75rem;
  font-weight: 400;
}

.wrapper-body {
  display: block;
}

#desktopMenu {
  width: var(--sidebar-width);
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
}

.items-body {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, 1fr);
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .items-body {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }
}

@media screen and (min-width: 992px) {
  .wrapper-body {
    display: grid;
    grid-template-columns: var(--sidebar-width) auto;
    grid-template-rows: auto;
  }

  .items-body {
    margin-left: var(--sidebar-width);
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
  }

  .item {
    min-width: 300px;
  }
}

.item {
  background-color: var(--secondary);
  border-radius: 1rem;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

.item-image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.item-content {
  padding: 1rem;
}

.item-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.add-to-cart-btn {
  transition: all ease-in-out 0.5s;
  background: var(--primary);
  border: none;
  color: var(--on-primary);
}

.add-to-cart-btn:hover {
  scale: 0.95;
  transition: all ease-in-out 0.5s;
}

#cartButton {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  padding: 16px;
  border-radius: 100%;
  background: var(--primary);
  border: none;
  color: var(--on-primary);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart {
  background-color: var(--secondary);
  color: var(--on-secondary);
  padding: 20px;
  border-left: 1px solid #ddd;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  display: none;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 992px) {
  .cart {
    width: 50%;
  }
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-items {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.cart-footer {
  position: fixed;
  bottom: 20px;
  width: 260px;
}

.nav-item-link {
  text-decoration: none;
}

.desktop-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.desktop-logo > img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100%;
}
