body {
  color: #bcb4db;
  background: radial-gradient(circle, #2e2e2e, #30045b);
  font-family: "Courier New", Courier, monospace;
}

input,
select {
  background-color: white;
}

.container {
  max-width: 400px;
  width: 100%;
}

.center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.info-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 25px;
}

.form-buttons {
  padding-top: 10px;
}

table {
  border-collapse: collapse;
  background-color: #442a4f;
}

td,
th {
  border: 1px solid #bcb4db;
  padding: 5px;
}

.text-center {
  text-align: center;
}
